#card {
  display: block;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: rgb(221, 221, 221);
}

#inside {
  padding: 5px;
  background-color: rgb(255, 252, 81);
}

header {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.left, .right {
  display: flex;
  width: 50%;
  align-items: center;
}

.right {
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.energy.icon {
  width: 15px;
  height: 15px;
}

.right #hp, .right img {
  vertical-align: middle;
}

figure#art {
  margin: 0;
  padding: 5px 5px 0 5px;
  width: calc(100% - 10px);
  background-color: lightgray;
}

figure img {
  width: 100%;
  height: 100%;
}

figcaption {
  text-align: center;
  font-size: smaller;
  padding-bottom: 5px;
}

#capacities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}

.capacity {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
}

.name {
  flex-grow: 1;
}

.cost {
  display: flex;
  gap: 5px;
  align-items: center;
}

.description {
  font-size: smaller;
}

div {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
