body, html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background: linear-gradient(to bottom, rgb(255, 252, 81) 10%, rgb(255, 252, 81) 100%);
}

#card-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
