/* You can add global styles to this file, and also import other style files */
html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
